@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply font-[Lato]
  }
  li {
    @apply px-4;
    @apply cursor-pointer
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;

}

.content-div:hover {
  background:linear-gradient(
    80deg, 
    rgba(184,152,129,1) 0%, 
    rgba(120,99,84,1) 100%
    )!important;
}

.primary-bg {
  background-color: #3a3845;
}

.accent-color {
  border-color: #f7ccac;
}

.accent-text {
  color: #f7ccac
}

background: ;

