@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-[Lato]
  }
  li {
    @apply px-4;
    @apply cursor-pointer
  }
}


.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;

}


.content-div:hover {
  background:linear-gradient(
    80deg, 
    rgba(191,155,147,1) 0%, 
    rgba(217,73,41,1) 100%
    )!important;
}

.primary-bg {
  background-color: #2b3040;
}

.accent-color {
  border-color: #d94929;
}

.accent-text {
  color: #bf9b93
}



